<!DOCTYPE html>
<html>
    <head> 
        {% block title %} MyPanel {% endblock %}
        {% load staticfiles %}
        <link rel='stylesheet' href="{% static "/static/css/style.css" %}">

        <!-- Adding Normalize.css to standardize across different browsers -->
        <link rel='stylesheet' href="{% static "/static/css/normalize.css" %}">
        <script type='text/javascript' src="{% static "/static/js/tracking.js" %}"></script>
    </head>

    <body>
        {% block header %}
            <header>    
                <nav class="navigation">
                    <ul>
                        <li> Home </li>
                        <li> About </li>
                        <li> Docs </li>
                        <li> Contact </li>
                    </ul>
                </nav>
            </header>
        {% endblock %}

        {% block content %}

            <div class="main">

            </div>

        {% endblock %}


        {% block footer %}


        {% endblock %}
    </body>
</html>
<script>
    /* Page View Event for Landing Page*/
    var loaded = new Tracking();
    loaded.track('Page Viewed');
</script>

