{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block content %}
<div id="container"></div>

<!-- load jQuery for highcharts -->

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
{% load staticfiles %}
<script type="text/javascript" src="{% static "/static/js/highcharts.js" %}"></script>
<script type="text/javascript" src="{% static "/static/js/exporting.js" %}"></script>
<script type="text/javascript" src="{% static "/static/js/main.js" %}"></script>

{% endblock %}



